{% extends 'base.html' %}

{% block tittle %}Planejamento Semanal{% endblock tittle %}

{% block main %}
<section class="w-100 mt-5 h-100 py-4 d-flex flex-column justify-content-center align-items-center">
    <div class="w-75 mt-5 py-3 px-2 d-flex justify-content-center align-items-center border border-primary rounded shadow-lg">
        <h3 class="ms-3">EM DESENVOLVIMENTO</h3>
        
    </div>

    <div class="container d-flex justify-content-center align-items-center my-4">
        <img src="../../../static/img/Programmer-pana.svg" alt="" class="w-50">
    </div>
</section>
{% endblock main %}