{% extends 'base.html' %}

{% block tittle %}Planejamento Semanal{% endblock tittle %}
{% load static %}

{% block main %}
<section class="">

    <!-- Formulário -->
    <form id="teste" action="" method="POST" class="d-flex flex-column justify-content-center align-items-center">
        <!-- Token de segurança do django -->
        {% csrf_token %}

        
        <!-- Campos -->
        <div class="w-25 d-flex my-5 rounded-pill bg-success justify-content-center align-items-center border border-success" onclick="addField()">
            <i class="fa-solid fa-plus my-2" onclick="addField()" style="color: white;"></i>
        </div>

        <div id="input-test" class="d-flex flex-column justify-content-center align-items-center my-2">
            <!--  campos -->

        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</section>

<script>
    let fieldCounter = 1;

    function addField() {
        // Campos a serem clonados
        let newTurmas = document.createElement('select');
        let newDisciplinas = document.createElement('select');
        let newTaxonomias = document.createElement('select');
        let horaAula = document.createElement('input')
        let newDataInicial = document.createElement('input');
        let newDataFinal = document.createElement('input');
        let newTextArea = document.createElement('textarea');
        let newBotaoOnclick = document.createElement('i');
        let newDiv = document.createElement('div')
        let contentBotaoOnClick = document.createElement('div');
        let turma = {{turmas|safe}};
        let disciplina = {{disciplinas|safe}}
        let taxonomia = {{taxonomias|safe}}

        newTextArea.name = 'descricao' + fieldCounter;
        newTextArea.classList.add('form-control');
        newTextArea.classList.add('mb-3');
        newTextArea.classList.add('border');
        newTextArea.classList.add('border-primary');
        newTextArea.id = 'exampleFormControlTextarea1';

        newDiv.id = 'fields_teste';
        newDiv.classList.add('d-flex');
        newDiv.classList.add('mb-3');

        newTurmas.type = 'select';
        newTurmas.name = 'turmas' + fieldCounter;
        newTurmas.classList.add('form-select');
        newTurmas.classList.add('mx-2');

        newDisciplinas.type = 'select';
        newDisciplinas.name = 'disciplinas' + fieldCounter;
        newDisciplinas.classList.add('form-select');
        newDisciplinas.classList.add('mx-2');

        newTaxonomias.type = 'select';
        newTaxonomias.name = 'taxonomias' + fieldCounter;
        newTaxonomias.classList.add('form-select');
        newTaxonomias.classList.add('mx-2');
    
        horaAula.type = 'input';
        horaAula.name = 'hora_aula' + fieldCounter;
        horaAula.classList.add('form-control');
        horaAula.classList.add('mx-2');

        newDataInicial.type = 'date';
        newDataInicial.name = 'date_i' + fieldCounter;
        newDataInicial.classList.add('form-control');
        newDataInicial.classList.add('mx-2');

        newDataFinal.type = 'date';
        newDataFinal.name = 'date_f' + fieldCounter;
        newDataFinal.classList.add('form-control');
        newDataFinal.classList.add('mx-2');

        contentBotaoOnClick.classList.add('d-flex');
        contentBotaoOnClick.classList.add('justify-content-center');
        contentBotaoOnClick.classList.add('align-items-center');
        contentBotaoOnClick.classList.add('border');
        contentBotaoOnClick.classList.add('border-success');
        contentBotaoOnClick.classList.add('rounded-circle');
        contentBotaoOnClick.classList.add('px-2');

        newBotaoOnclick.classList.add('fa-solid');
        newBotaoOnclick.classList.add('fa-plus');

        newBotaoOnclick.onclick = addField;

        for (let optionText of turma) {
            let option = document.createElement('option');
            option.value = optionText;
            option.text = optionText;
            newTurmas.appendChild(option);
        }

        for (let optionText of disciplina) {
            let option = document.createElement('option');
            option.value = optionText;
            option.text = optionText;
            newDisciplinas.appendChild(option);
        }

        for (let optionText of taxonomia) {
            let option = document.createElement('option');
            option.value = optionText;
            option.text = optionText;
            newTaxonomias.appendChild(option);
        }

        if (fieldCounter <= 5) {
            document.getElementById('input-test').appendChild(newDiv).appendChild(newTurmas);
            document.getElementById('input-test').appendChild(newDiv).appendChild(newDisciplinas);
            document.getElementById('input-test').appendChild(newDiv).appendChild(newTaxonomias);
            document.getElementById('input-test').appendChild(newDiv).appendChild(horaAula);
            document.getElementById('input-test').appendChild(newDiv).appendChild(newDataInicial);
            document.getElementById('input-test').appendChild(newDiv).appendChild(newDataFinal);
            document.getElementById('input-test').appendChild(newTextArea);
        } else {
            let newBotaoOnclick = document.createElement('span');
            newBotaoOnclick.textContent = 'Limite de registros simultâneos atingido...';
            newBotaoOnclick.style.color = 'red';
            setTimeout(
                function () {
                    newBotaoOnclick.style.display = 'none';
                }, 5000
            )

            document.getElementById('input-test').appendChild(newDiv).appendChild(newBotaoOnclick);
        }

        fieldCounter++;
    }

</script>
{% endblock main %}