{% load i18n %}
{% load allauth %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% block content %}
    <div class="container-continue m-0 bg-primary d-flex justify-content-center align-items-center" style="height: 100vh !important">
        {% element form method="post" no_visible_fields=True %}
            {% slot actions %}
                {% csrf_token %}
                
                <!-- Botão + frase -->
                <div class="content d-flex align-items-center">
                    <div class="bg"></div>
                    <div class="button-content d-flex flex-column gap-2" id="button-pai" style="z-index: 1;">
                        {% element button type="submit" %}
                            {% trans "Entre com sua conta institucional"%}
                        {% endelement %}
                    </div>
                </div>
                <!-- ---------------- -->
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}

<style>

    .bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(/../../static/img/Mathematics-amico.svg) no-repeat center center ; 
        opacity: .325;
        border-radius: 24px;
    }

    .container-continue > form {
        margin: 0;
    }

    .button-content > button {
        border-style: none;
        border-radius: 50rem;
        padding: .6rem;

        font-weight: 500;
        min-width: 120px;
        transition: .15s;

        color: white;
        background-color: transparent;
        border: 2px solid white;
    }

    .button-content > button:hover {
        padding: .8rem;
        min-width: 130px;
        transition: .15s;

        background-color: white;
        border: none;
        color: #0d6efd;
    }

    .button-main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 12px;
    }

    .button-main > img {
        width: 40px;
        background-color: white;
        border-radius: 50%;
        padding: 2px;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var paiButton = document.getElementById('button-pai');
        var button = paiButton.children[0];
        var imagem = document.createElement('img');
        button.className = "button-main"

        imagem.src = "https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png";

        button.appendChild(imagem);
        

        // var button = document.getElementsByTagName('button');
        // var imagem = document.createElement('img');
        // imagem.src = "https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png";
        // button.appendChild(imagem);
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


