<div>
    <a class="rounded-pill bg-primary" title="{{ attrs.name }}" href="{{ attrs.href }}">
        <button class="rounded-pill p-2 border-0 bg-white">
            <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png" alt="" style="max-width: 40px; min-width: 40px; margin-right: 12px">
            Entre com sua conta institucional
        </button>
    </a>
</div>


<style>
    a {
        padding: 22px 8px 26px 8px;
        transition: 0.2s;
    }

    a:hover {
        padding: 24px 12px 28px 12px;        
        transition: 0.2s;
    }

</style>