{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="background-imgage img-college d-flex justify-content-center align-items-center my-5" style="height: 80vh !important;">
    <div class="d-block">
        <h2 class="text-center">Olá, {{ request.user.username }}</h2>
        <p class="fs-3 text-center" style="width: 700px !important;">
            Seja muito bem-vindo(a) ao nosso Portal do Professor!
            Vamos construir juntos um espaço de aprendizado e
            crescimento contínuo.
        </p>
    </div>
</section>
{% endblock main %}